.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

.nearby-heading {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.logout-button{
    background-color: blue;
    color: white;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
}

.card {
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    border-color: black;
    max-width: 300px;
    border-radius: 10px;
    margin: 15px;
}

.image {
    width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

.restaurant-grid {
    display: flex;
    flex-direction: row;
}

.rating {
    background-color: #000000;
    color: white;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
}

.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  justify-items: center;
}